name: CI-TEST IPV

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v3

    - name: Instalar PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, pdo, pdo_mysql

    - name: Instalar dependencias (Composer)
      run: composer install --no-interaction --prefer-dist

    - name: Validar sintaxis de PHP
      run: |
        find . -type f -name "*.php" -print0 | xargs -0 -n1 php -l
